version: '3.1'

services:
    bot:
        build: ./bot
        command: python bot.py
        environment:
            BOT_TOKEN: 000000000000000000000
            DB_NAME: zenirlbot
            DB_USER: postgres
            DB_PASSWORD: password
            DB_HOST: postgres
        depends_on:
            - postgres
    postgres:
        container_name: postgres
        restart: always
        image: postgres:latest
        volumes:
            - postgres-data:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: zenirlbot
            POSTGRES_PASSWORD: password

volumes:
    postgres-data:
        external: true