certifi==2018.1.18
cycler==0.10.0
future==0.16.0
matplotlib==2.1.2
numpy==1.14.0
psycopg2==2.7.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
python-telegram-bot==9.0.0
pytz==2017.3
six==1.11.0
dateparser==0.7.0
